//MIXINS
@mixin flex($direction:row, $justify-content:none, $align-item:none) {
  align-items:$align-item;
  display:flex;
  flex-direction:$direction;
  justify-content:$justify-content;
}

//PLACEHOLDERS
%align-x-and-y {
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
}

%align-x {
  left:50%;
  transform:translateX(-50%);
}

%flex-column, %flex-row {
  display:flex;
}

%flex-column {
  flex-direction:column;
}

%flex-row {
  flex-direction:row;
}