#chat-container {
  background:white;
  height:500px;
  width:350px;
}

#chat {
  height:90%;
  overflow-y:scroll;
  max-width:100%;
}

.message {
  padding:15px;
  width:100%;
  word-break:break-all;
  word-wrap:break-word;
}