#chat-container {
  background:white;
  border:1px solid gray;
  height:500px;
  width:350px;
}

#chat {
  height:90%;
  overflow-y:scroll;
  max-width:100%;
}

.message {
  padding:15px;
  width:100%;
  word-break:break-all;
  word-wrap:break-word;
}

@media (max-width:1250px) {
  #chat-container {
    display:block;
    bottom:0px;
    height:40vh;
    left:0px;
    position:fixed;
    width:50%;
  }
}