@import "../../styles/colors.scss";
@import "../../styles/containers.scss";

#chat-container {
  background:white;
  height:500px;
  width:350px;
}

#chat {
  height:90%;
  overflow-y:scroll;
  max-width:100%;
}

.message {
  padding:15px;
  width:100%;
  word-break:break-all;
  word-wrap:break-word;
}

.answer-box {
  @extend %align-x;
  background:$dark-blue;
  top:0px;
  border-radius:6px;
  color:white;
  font: {
    size:18px;
    weight:600;
  }
  padding:10px 15px;
  position:absolute;
  text-align:center;
}