@import "../../styles/colors.scss";
@import "../../styles/effects.scss";
@import "../../styles/containers.scss";

#draw-area {
  background:#ffffff;
  border-radius:6px;
  box-shadow:1px 1px 10px gray;
  margin:0px 15px;
}

.answer-box {
  @extend %align-x;
  background:$dark-blue;
  top:0px;
  border-radius:6px;
  color:white;
  font: {
    size:18px;
    weight:600;
  }
  padding:10px 15px;
  position:absolute;
  text-align:center;
}

.draw-options-button {
  @extend %darker-on-hover-or-click;
  background:$dark-blue;
  border-radius:10px;
  cursor:pointer;
  left:30px;
  padding:5px 10px;
  position:absolute;
  top:15px;

  .icone {
    color:white;
    font-size:20px;
  }
}

.timer {
  background:$dark-blue;
  border-radius:100px;
  color:white;
  font: {
    size:18px;
    weight:600;
  }
  padding:10px 0px;
  position:absolute;
  right:30px;
  text-align:center;
  top:15px;
  width:40px;
}

@media (max-width:1250px) {
  #draw-area {
    margin:0px;
  }
}