#players-bar {
  border:1px solid black;
  height:99vh;
  overflow-y:scroll;
  width:25%;
}

@media (max-width:1250px) {
  #players-bar {
    display:block;
    bottom:0px;
    height:40vh;
    position:fixed;
    right:0px;
    width:50%;
  }
}