@import '../../styles/containers.scss';

.box {
  @extend %align-x-and-y;
  @include flex(column, center, center);
  background:white;
  border-radius:5px;
  box-shadow:1px 1px 5px gray;
  padding:15px 30px;
  position:absolute;
  width:450px;
}

@media (max-width:450px) {
  .box {
    width:100%;
  }
}